{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="logs">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="logs-group">
                <div class="log-year">{{ .Key }}</div>

                <ul class="logs-list">
                    {{ range .Pages }}
                        <li class="log-item">
                            <a href="{{.Permalink}}" class="log-item-inner">
                                <span class="log-title">{{.Title}}</span>
                                <span class="log-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
